option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elasticbeanstalk:application:environment:
    API_ENDPOINT: www.example.com/api
packages:
  yum:
    htop: []
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_configure_environment_file.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash
        if [ ! -f /var/www/html/.env ] ; then
            cp /var/www/html/.env.example /var/www/html/.env
            php /var/www/html/artisan key:generate
        else
           OUTPUT="$(egrep "^APP_KEY=(.+)$" /var/www/html/.env)"
           if [ -z "$OUTPUT" ]; then
                php  /var/www/html/artisan key:generate
            fi
        fi